
{% extends "main/base0.html" %}

{% block content %}





<h3 class="title-border" style="text-align: center;">It all started with a simple idea:</h3>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
  The idea that people facing the court system should be able to know
  what they're up against, without paying a lawyer first. What if we could
  show people what happens in cases like theirs by analyzing the thousands
  of cases like theirs that have come before and providing that information
  in an easy-to-understand format?
</p>

<h3 class="title-border" style="text-align: center;">How it works:</h3>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
Data is power. Our system collects data from each jurisdiction and analyzes it
based on case type, judge, whether or not the person in that case hired an
attorney, and what happened in that case. With that data you can now see what
the most common outcome for your case is, and whether or not hiring an attorney
will give you an advantage.
</p>
<h3 class="title-border" style="text-align: center;">
  Taking the guesswork out of hiring an attorney:</h3>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
Our system identifies the attorneys with the highest success rate for each
type of case before each judge, so you know which attorney will be best able
to handle your case. Our proprietary formula evaluates each attorney based on
a number of factors so that you can make an educated decision about who to hire.

</p>


{% endblock %}
