<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>bartleby</title>
    {% endif %}

{% load static %}
<link rel='stylesheet' id='style-css'  href='{% static 'main/stylesheet.css' %}' type='text/css' media='all' />
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>



  				<header class="topbar" style="fixed" role="">
  			<div class="navbar.fixed">
  				<div class="container clearfix">
  									<a href="/">bartleby</a>
          </div>
        </div>
	</header>
<br><br>


  	<main class="main container clearfix" role="main">

    {% block content %}




    {% endblock %}

<br><br><br>

<footer>
    <div class="wrapper">


    		</footer>
    	</div>
    	<main class="main container clearfix" role="main">





</html>
