<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #aaa;
}


</style>
</head>

{% extends "main/base0.html" %}

{% block content %}
<h3><center><a href="/bartleby">bartleby</a></center></h3>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
  Meet Bartleby. He doesn't work so good. But he does scriven until he'd prefer not to.
</p>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
Bartleby is powered by <del>black magic</del> AI! At least until the free IBM Watson
account runs out!
</p>

<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
  Basically, this hugely powerful AI chatbot machine learning algorithmic natural
   language processing uber for speech recognition records your speech for 20 seconds,
   transcribes it, writes it to a pdf, and returns it as an attachment! It's the Juicero
   for speech recognition!
</p>
<p style="text-align: center; margin: 10px 50px 10px 50px !important;" >
  <b>This is actually a badly-done proof of concept.</b>
</p>
<p style="text-align: justify; margin: 10px 50px 10px 50px !important;" >
  I'm hoping that something like this can be devloped into a live transcription app
  for attorneys to use at hearings and depositions. Obviously there's a lot to do to
  make that happen, and I just don't have time right now. If you're interested in
  something like this <a href="mailto:samharden@gmail.com?Subject=bartleby%20sucks" target="_top">drop me a line.
</p>

<p style="text-align: center; margin: 10px 50px 10px 50px !important;" ><a href="/bartleby">Give bartleby a try.</a></p>

{% endblock %}
