<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #aaa;
}


</style>
</head>

{% extends "main/base0.html" %}

{% block content %}
<h3><center>bartleby</center></h3>




{% endblock %}
